html{
    box-sizing: border-box;
    margin: 0;
}
.card{
    margin: 0 auto;
    width: 400px;
    display: flex;
    justify-content: center;
    color: blue;
    background:linear-gradient(#EFF6FF,#EFF1FE,#ECEDFF);
    .container{
        width: 100%;
        padding: 10px 30px;
        // width: 60%;
        .title{
            border-bottom: 2px solid rgb(121, 135, 166);
            padding-bottom: 10px;
        }
        .progressBar{
            display: flex;
            align-items: center;
            gap: 10px;
            .empty{
                width: 100%;
                height: 100%;
                height: 10px;
                overflow: hidden;
                border-radius: 10px;
                background-color: white;
                position: relative;
                z-index: 1;
                .howLong{
                    transition: .5s;
                    border-radius: 10px;
                    height: 100%;
                    background-color: rgb(43, 8, 239);
                    position: absolute;
                    z-index: 2;
                }
            }
            
        }
        .listWrap{
            margin: 10px auto 10px auto;
            width: 100%;
            display:flex;
            flex-direction: column;
            border-bottom: 2px solid rgb(121, 135, 166);
            .list{
                border-radius: 3px;
                border-left: 4.5px solid rgb(109, 109, 231);
                margin: 0 auto 10px auto;
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                background-color: #fff;
              
                .left{
                  
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-left: 10px;
                    width: 92%;
                    label{
                        font-size: 1.1rem;
                        line-height: 1.2rem;
                       
                    }
                    
                    input[type=checkbox]{
                        width: 20px;
                        height: 20px;
                       
                    }
                    
                }
                .right{
                    width: 8%;
                    cursor: pointer;
                }
                i{
                    color: #ccc;
                    font-weight: 700;
                    font-size: .8rem;
                }
               
            }
            
            
        }
        


        .bottom{
            width: 100%;
            display: flex;
            gap: 5px;
            
           .search{
           
            width: 88%;
            input{
                width: 100%;
                height: 30px;
                border: none;
            }
            }      
            .add{
                cursor:pointer;
                background-color: rgb(63, 91, 245);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 12%;
                
                i{
                    color: white;
                    
                }
            }
        }
    }
}




.switch { /*==設定開關鈕的長寬==*/
    position: relative;
    width: 55px;
    height: 25px;
    line-height: 30px;
  }
  .switchCheckbox {
   position: absolute;
   display: none;
  }
  .switchLabel {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
  }
  .switchTxt {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  .switchTxt::before,
  .switchTxt::after {
    display: block;
    float: right;
    width: 50%;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
  }
  /*==開關鈕底色(開啟時)==*/
  .switchTxt::after {
    content: attr(turnOn);
    padding-left: 10px;
    background: #1ba0ef;
    color: #fff;
  }
  /*開關鈕底色(關閉時)*/
  .switchTxt::before {
    content: attr(turnOff);
    padding-right: 10px;
    background: #eee;
    color: #ccc;
    text-align: right;
  }
  /*==開關鈕的顏色與大小==*/
  .switchRoundBtn {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    margin: 2px;
    background: rgb(113, 119, 146);
    top: 3px;
    right: 25px;
    border-radius: 13px;
    transition: all 0.3s ease-in 0s;
  }
  .switchCheckbox:checked + .switchLabel .switchTxt {
    margin-left: 0;
  }

  .switchCheckbox:checked + .switchLabel .switchRoundBtn{
    right: 0;
  }

