html{
    box-sizing: border-box;
    margin: 0;
}
.card{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    color: blue;
    background:linear-gradient(rgb(167, 212, 238),rgb(146, 184, 219),rgb(201, 147, 233));
    .container{
        width: 100%;
        padding: 10px 20px;
        // width: 60%;
        
        height: 800px;
        .listWrap{
            margin: 0 auto;
            width: 30%;
            display:flex;
            flex-direction: column;
            // justify-content: center;
            // align-items: center;
            .list{
                margin: 0 auto;
                width: 100%;
                display: flex;
                .left{
                    width: 90%;
                }
                .right{
                    width: 10%;
                }
                i{
                    font-size: .8rem;
                }
               
            }
            .bottom{
                width: 100%;
                display: flex;
               .search{
                width: 90%;
                input{
                    width: 100%;
                }
                }      
                .add{
                    cursor:pointer;
                    background-color: lightblue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 10%;
                    i{
                        color: white;
                        
                    }
                }
            }
            
        }
        
        
    }
}


